apiVersion: k3s.bbox.kiev.ua/v1alpha1
kind: Cluster
metadata:
  name: cluster-sample
spec:
  # Add fields here
  region: kiev
  networking:
    # serviceSubnet: 10.42.0.0/16
    # PodSubnet: 10.43.0.0/16
    # dnsDomain: cluster.local
    # clusterDns: 10.43.0.10
  loadBalancer:
    metalLb: "192.168.192.33"
  # ingress: "Ambassador"
  # k3s:
  #   extraServerArgs:  # additional arguments passed to the `k3s server` command; same as `--k3s-server-arg`
  #     - --tls-san=my.host.domain
  #     # - --tls-san=my2.host.domain
  nodes:
    - name: developer-master
      role: master
      addresses:
        - address: 192.168.192.108
          type: InternalIP # Hostname, ExternalIP, InternalIP, ExternalDNS, InternalDNS
    # - name: developer-worker
    #   user: ubuntu
    #   addresses:
    #     - address: 192.168.192.109
    #       type: InternalIP # Hostname, ExternalIP, InternalIP, ExternalDNS, InternalDNS
